

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.role {
  padding-bottom:4rem;
  font-weight: 500;
}

.no-role {
  padding-bottom:4rem;
  font-weight: 100;
}

.input {
  background-color: #ebebeb;
  margin: 2rem;
  border-radius :10px;
  height: 2rem;
  padding: 15px;
  font-size: 1.125rem;
}
